body{
    background-color: white;
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.menu {
    position: relative;
    grid-column: 1/2;
    width: 300px;
    height: 555px;
    overflow:visible;
}

.box {
    position: absolute;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    transition: top 0.25s, left 0.25s;
    transition-timing-function: linear;
}

.content {
    background-color: blue;
    grid-column: 2/3;
    flex-grow: 2;
    height: 100%;
    width: 100%;
}